@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}<!--banner -->
<div class="slider mt-5">
    <div class="slider-height d-flex align-items-center justify-content-center">
        <div class="herocap">
            <h2 style="font-size: 50px; font-weight:700; color: #fff "> Giới thiệu </h2>
        </div>
    </div>
</div>

<!--giới thiệu-->
<section class="about-area section-padding30 position-relative" >
    <div style="margin: 50px;" id="blog">

    </div>
</section>


















@* <section class="about-area section-padding30 position-relative" id="gioithieu">
    <div class="container">
        <div class="row align-items-center my-5">
            <div class="col-lg-6 col-md-11">
                <div>
                    <video class="video-size30"
                           style="pointer-events: none; border: 2px solid #ad9551"
                           controls
                           autoplay
                           loop
                           muted>
                        <source src="~/image/barber11 - Made with PosterMyWall (online-video-cutter.com).mp4"
                                type="video/mp4" />
                    </video>
                </div>
            </div>
            <div class="col-lg-6 col-md-11 mb-auto">
                <div class="section-title section-tittle3 mb-35 mt-5">
                    <span style="font-size: 45px; font-family: Oswald">
                        Về chúng tôi
                    </span>
                    <h2 style="color: #834e28">
                        <strong>Uy tín tôn lên thương hiệu của Xuân Tâm Barber </strong>
                    </h2>
                </div>
                <p class="mb-30 pera-bottom" style="font-size: larger">
                    Brook presents your services with flexible, convenient and cdpoe
                    layouts. You can select your favorite layouts & elements for cular ts
                    with unlimited ustomization possibilities. Pixel-perfreplication of
                    the designers is intended.
                </p>
                <p class="pera-top mb-50">
                    Brook presents your services with flexible, convefnient and ent
                    anipurpose layouts. You can select your favorite.
                </p>
                <div>
                    <img style="width: 630px; height: 390px"
                         src="~/image/about-shape.png"
                         alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container mt-5">
  <div class="align-items-center">
    <div class="text-center">
      <h2><strong> SALON TÓC CỦA XU THẾ HIỆN ĐẠI</strong></h2>
      <br />
      <br />
      <h4 style="text-align: justify">
        Xuân Tâm Hair Salon là chuỗi salon tóc nam với đội ngũ trẻ trung, chuyên
        nghiệp, tiên phong trong việc mang đến phong cách tóc hiện đại, trải
        nghiệm thư giãn, chăm sóc da hiện đại, tiêu chuẩn dịch vụ hiện đại.
      </h4>
      <br />
      <h4 style="text-align: justify">
        Xuân Tâm Hair Salon đầu tư mạnh mẽ vào nền tảng công nghệ giúp nâng cao
        trải nghiệm dịch vụ, hiệu suất vận hành, đồng thời liên tục nghiên cứu
        và phát triển các dịch vụ và trải nghiệm mới phù hợp với nhu cầu khách
        hàng nam giới hiện đại.
      </h4>
    </div>
    <div class="row justify-content-center pt-5">
      <div class="row mt-1">
        <div class="col-lg-8 col-md-6 col-sm-6">
          <div>
            <img
              style="
                border-radius: 50px;
                box-shadow: color(from color srgb);
                width: 750px;
              "
              src="~/image/Barber1.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 ml-5">
          <img
            style="height: 225px; margin-left: -50px; border-radius: 50px"
            src="~/image/barber2png.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 ml-5">
          <img
            style="
              height: 225px;
              margin-left: 819px;
              margin-top: -240px;
              border-radius: 50px;
            "
            src="~/image/barber3.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="align-items-center">
    <div class="text-center">
      <h2><strong>SỨ MỆNH</strong></h2>
      <br />
      <br />
      <h4 style="text-align: justify">
        Xuân Tâm không ngừng quan tâm và lan tỏa niềm tin tới mọi người để cùng
        đổi mới và có cuộc sống ý nghĩa hơn. Mang tới những điều mới mẻ, nâng
        cao chất lượng cuộc sống cho mọi người thêm ý nghĩa
      </h4>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="align-items-center">
    <div class="text-center">
      <h2><strong>TẦM NHÌN</strong></h2>
      <br />
      <br />
      <h4 style="text-align: justify">
        Với Khách hàng: Xuân Tâm là một nền tảng cho nam giới hiện đại
        (LifeStyle Platform for Men) thỏa mãn đa dạng nhu cầu của hàng triệu
        khách hàng.
      </h4>
      <br />
      <h4 style="text-align: justify">
        Với Anh em: Xuân Tâm là một môi trường năng động, nơi anh em có thể tự
        hào, thỏa sức học hỏi, cống hiến để vươn tới cuộc sống sung túc và hạnh
        phúc.
      </h4>
    </div>
  </div>
  <div class="View_area">
    <div class="View_box">
      <div class="image_viewbox" style="margin: 0 auto">
        <img
          src="~/image/about-shape.png"
          alt=""
          style="width: 120px; height: 120px"
        />
      </div>
      <div class="view_box_title">
        <h2><strong>Đổi mới</strong></h2>
      </div>

      <ul>
        <li>
          <p>
            Luôn tin có góc nhìn và cách làm khác tốt hơn trong mọi tình huống
          </p>
        </li>
        <li><p>Đề cao những giải pháp CTM-KNR</p></li>
      </ul>
    </div>
    <div class="View_box">
      <div class="image_viewbox" style="margin: 0 auto">
        <img src="~/image/about-shape.png" alt="" style="width: 120px; height: 120px"/>
      </div>
      <div class="view_box_title">
        <h2><strong>Đổi mới</strong></h2>
      </div>

      <ul>
        <li>
          <p>
            Luôn tin có góc nhìn và cách làm khác tốt hơn trong mọi tình huống
          </p>
        </li>
        <li><p>Đề cao những giải pháp CTM-KNR</p></li>
      </ul>
    </div>
    <div class="View_box">
      <div class="image_viewbox" style="margin: 0 auto">
        <img
          src="~/image/about-shape.png"
          alt=""
          style="width: 120px; height: 120px"
        />
      </div>
      <div class="view_box_title">
        <h2><strong>Đổi mới</strong></h2>
      </div>

      <ul>
        <li>
          <p>
            Luôn tin có góc nhìn và cách làm khác tốt hơn trong mọi tình huống
          </p>
        </li>
        <li><p>Đề cao những giải pháp CTM-KNR</p></li>
      </ul>
    </div>
    <div class="View_box">
      <div class="image_viewbox" style="margin: 0 auto">
        <img
          src="~/image/about-shape.png"
          alt=""
          style="width: 120px; height: 120px"
        />
      </div>
      <div class="view_box_title">
        <h2><strong>Đổi mới</strong></h2>
      </div>

      <ul>
        <li>
          <p>
            Luôn tin có góc nhìn và cách làm khác tốt hơn trong mọi tình huống
          </p>
        </li>
        <li><p>Đề cao những giải pháp CTM-KNR</p></li>
      </ul>
    </div>
    <div class="View_box">
      <div class="image_viewbox" style="margin: 0 auto">
        <img
          src="~/image/about-shape.png"
          alt=""
          style="width: 120px; height: 120px"
        />
      </div>
      <div class="view_box_title">
        <h2><strong>Đổi mới</strong></h2>
      </div>

      <ul>
        <li>
          <p>
            Luôn tin có góc nhìn và cách làm khác tốt hơn trong mọi tình huống
          </p>
        </li>
        <li><p>Đề cao những giải pháp CTM-KNR</p></li>
      </ul>
    </div>
  </div>
</div> *@
