@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Contact--> 

<div class="slider mt-5">
    <div class="slider-height d-flex align-items-center justify-content-center">
        <div class="herocap">
            <h2 style="font-size: 40px; font-weight:700; color:#fff"> Liên hệ chúng tôi </h2>
        </div>
    </div>
</div>
<Section class="contact_section">
    <div class="container"> 
        <div class="align-items-center  mt-5 ">
            <div class="text-center">
                <h2>LIÊN HỆ CHÚNG TÔI </h2>
            </div>
        </div>
        <style>
            #map {
                height: 700px;
                width: 100%;
            }
        </style>
        <div id="map"></div>
        <script>
            function initMap() {
                var myLatLng = { lat: 10.765527935166421, lng: 106.68877328329691 };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 20,
                    center: myLatLng
                });
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'Hello World!'
                });
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByEauqcXbCj74bedteqgHEjscVoEy2A1Y&callback=initMap"
                async defer>
        </script>

        <div class="mt-5 mb-5">
            <h3 style="font-size: 27px;"><strong>Phản hồi </strong></h3>
        </div>
        <div class="form_contact">
            <form class="">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="contact_design">
                            <textarea class="form-control" name="name" id="name" type="text"
                                      onfocus="this.placeholder=''" onblur="this.placeholder
                        ='Nhập tên của bạn'" style="font-family: ariel,'Oswald' ;font-size: 20px;"
                                      placeholder="Nhập tên của bạn"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="contact_design">
                            <textarea class="form-control" name="mail" id="mail" type="mail"
                                      onfocus="this.placeholder=''" onblur="this.placeholder
                        ='Nhập Email'" style="font-family: ariel ,'Oswald' ; font-size: 20px;"
                                      placeholder="Nhập Email của bạn"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="contact_design">
                            <textarea class="form-control" name="phonenumber" id="phonenumber" type="text"
                                      onfocus="this.placeholder=''" onblur="this.placeholder
                        ='Nhập Số điện thoại'" style="font-family: ariel ,'Oswald'; font-size: 20px;"
                                      placeholder="Nhập Số điện thoại"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div row>
                        <div class="contact_design">
                            <textarea name="Content" id="Content" cols="30" rows="9" onfocus="this.placeholder=''"
                                      onblur="this.placeholder='Nhập nội dung'" 
                                      style="font-family: ariel;'Oswald'; font-size: 20px; width: 550px; padding-left:5px"
                                      placeholder="Nhập nội dung"></textarea>
                        </div>
                    </div>

                </div>
                <button class="send_btn">
                    <nav>Gửi</nav>
                </button>


            </form>
            <div class="Contact_info2">
                <div class="Contact_content">
                    <div class="diachi_booking_content">
                        <div class="content_container text-center">
                            <h5>Đến ngay với chúng tôi tại</h5>
                            <p>43Q đường 160, Tăng Nhơn Phú A, Thủ Đức</p>
                            <h5>Liên hệ với chúng tôi qua</h5>
                            <p>chitin952003@gmail.com <br>(+84) 706389781</p>

                            <h5>Thời gian làm việc </h5>
                            <p>9:00 - 21:00</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>