@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container" style="margin-bottom:200px">
        <div class="bill-box">
            <div class="bill-content">
                <div class="view_content">
                    <img src="~/image/cancel.png" alt="">
                    <h2>Thanh toán không thành công</h2>
                    <div class="detail_payment">
                    <div class="btndisplay">
                        <button style=" border-radius: 20px;
                                        width: 400px;
                                        height: 35px;
                                        background-color: #222222;
                                        font-weight: bold;
                                        font-size: 20px;">
                            <a style="text-decoration: none;color: #d7cccc;"
                               asp-controller="User" asp-action="Index">Trang chủ</a>
                        </button>
                    </div>
                </div>

                <div class="gif-image">
                    <img src="~/image/image_processing20190812-2176-vehbsi.gif">
                </div>
            </div>
        </div>
    </div>
</section>
