/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
    :root {
        --h2-font-size: 1.5rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}
.card__article img {
    display: block;
    max-width: 240px;
    max-height: 350px;
}

/*=============== CARD ===============*/
.service__container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.card__container {
    display: grid;
    row-gap: 3.5rem;
    justify-content:center;
}

.card__article {
    width: 330px;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
    border: 2px solid #ad9551;
}

.card__img {
    margin-top: 50px;
    margin-left: 40px
}

.card__data {
    width: 280px;
    background-color: transparent;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
    backdrop-filter: blur(15px);
}

.crad__description {
    display: block;
    font-size: var(--small-font-size);
    color:black;
    margin-bottom: .25rem;
}

.card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
}

.card__button {
    text-decoration: none;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    display: inline-block;
    overflow: auto;
    position: relative;
    background-image: url(../image/next.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: #ad9551;
    border: 1px solid hsl(0, 0%, 15%);
}

    .card__button:hover {
        text-decoration: none;
    }
/* Naming animations in hover */
    .card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

    .card__article:not(:hover) .card__data {
        animation: remove-data 1s forwards;
    }
/* Card animation */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-widht: 340px) {
    .service__container {
        margin-inline: 1rem;
        padding: 50px;
    }

    .card__data {
        width: 250px;
        padding: 1rem;
    }
}

/* For medium devices */

@media screen and (max-width: 768px ) {
    .card__container {
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.5rem;
        padding: 50px;
    }
}
/* For large devices */
@media screen and (min-width: 1120px) {
    .service__container {
        height: 100%;
        padding: 50px;
    }

    .card__container {
        grid-template-columns: repeat(3,1fr);
        column-gap: 1.5rem;
    }

    .card__img {
        width: 348px;
    }

    .card__data {
        width: 316px;
        padding-inline: 2.5rem;
    }
}

.pagination-1 {
    display: flex;
    justify-content: center;
    margin-top:60px;
}
.pagination-1 li {
    color: #000;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

    .pagination-1 li a {
        text-decoration:none;
        color:black;
    }

    .pagination-1 li:hover {
        background-color: #ddd;
    }

    .pagination-1 li.active {
        background-color: #ad9551;
        color: white;
    }

.Product-detail {
    background-color: #fff;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    object-fit: contain;
    grid-gap: 10px;
    padding-bottom: 100px;
}

.Product-item {
    justify-content: center;
    align-items: center;
}

.imgdetail {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 520px;
    height: 560px;
    object-fit: contain;
    border: 2px solid black;
    margin: 50px;
    margin-bottom: 10px;
}

.title {
    display: inline;
    margin-top: 50px;
}

.span_sp {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.describe {
    display: flex;
}

.price {
    margin-top: 20px;
    display: block;
    font-size: 1.875rem;
    color: #d0011b;
    font-weight: 500;
}

.h3_sp {
    font-size: 20px;
    color: #757575;
    margin-top: 20px;
}

.flex-column {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.number {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.button_number {
    width: 100px;
    height: 42px;
}

.button_buy {
    width: 200px;
    height: 47px;
    background-color: #ee1c25;
    color: #e5e6e9;
}

.button_add_buy {
    width: 200px;
    height: 47px;
    border-color: red;
    color: #ee1c25;
    background-color: #fbebed;
}

.type {
    display: flex;
    align-items: center;
    column-gap: 83px;
}

.title_read {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.button_justify {
    display: flex;
    margin-left: 5px;
    column-gap: 10px;
}

.imgbelow {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 550px;
    height: 100px;
    object-fit: contain;
    margin-left: 50px;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

.Product_box {
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
}

.box_position {
    position: relative;
}

.product_resize {
    max-width: 100%;
    width: 78px;
    height: 80px;
    object-fit: contain;
}

.Product_box:hover {
    border: 2px solid red;
}