@{
    ViewData["Title"] = "Add Dich Vu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Rendering
@model XTweb.Models.DichVu
<h2>Add Dịch Vụ</h2>
<form asp-action="AddDichVu" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="TenDichVu"></label>
        <input asp-for="TenDichVu" class="form-control" />
        <span asp-validation-for="TenDichVu" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gia"></label>
        <input asp-for="Gia" class="form-control" />
        <span asp-validation-for="Gia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AnhDichVu">Ảnh Nhân Viên</label>
        <input type="file" asp-for="AnhDichVu" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a asp-action="dichvu" asp-controller="Admin" class="btn btn-primary">Back</a>
    </div>
</form>
