@{
    ViewData["Title"] = "Add Khach Hang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Rendering
@model XTweb.Models.KhachHang
<h2>Thêm Khách Hàng</h2>
<form asp-action="AddKhachHang" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="HoTen"></label>
        <input asp-for="HoTen" class="form-control" />
        <span asp-validation-for="HoTen" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sdt"></label>
        <input asp-for="Sdt" class="form-control" />
        <span asp-validation-for="Sdt" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MatKhau"></label>
        <input asp-for="MatKhau" class="form-control" />
        <span asp-validation-for="MatKhau" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a asp-action="Index" asp-controller="Admin" class="btn btn-primary">Back</a>
    </div>
</form>
