@model XTweb.Models.SanPham
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Xóa Sản Phẩm</h2>
<form asp-action="DeleteSanPhamConfirmed" method="post">
    <input type="hidden" asp-for="MaSanPham" />
    <p>Bạn có muốn xóa sản phẩm @Model.TenSanPham
        ?</p>
    <div>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" asp-controller="Admin" class="btn btn-primary">Back</a>
    </div>

</form>