@model XTweb.Models.DichVu
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Xóa Dịch Vụ</h2>
<form asp-action="DeleteDichVuConfirmed" method="post">
    <input type="hidden" asp-for="MaDichVu" />
    <p>
        Bạn có muốn xóa dịch vụ @Model.MaDichVu
        ?
    </p>
    <div>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="dichvu" asp-controller="Admin" class="btn btn-primary">Back</a>
    </div>

</form>