@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model XTweb.Models.KhachHang
<h2>Chi Tiết Khách Hàng</h2>
<h4>@Model.HoTen</h4>
<hr />
<div class="container-view">
    <div class="left-site">
        <p> <b>Họ Tên:</b> @Model.HoTen</p>
        <p> <b>Địa Chỉ:</b> @Model.Sdt</p>
        <div>
            <a asp-action="UpdateKhachHang" asp-controller="Admin" asp-route-id="@Model.MaKhachHang" class="btn btn-primary">Edit</a>
            <a asp-action="khachhang" asp-controller="Admin" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>
