@model XTweb.Models.NhanVien
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Edit NhanVien";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Edit Nhân Viên</h2>
<form asp-action="UpdateNhanVien" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="MaNhanVien" />
    <div class="form-group">
        <label asp-for="TenNhanVien"></label>
        <input asp-for="TenNhanVien" class="form-control" />
        <span asp-validation-for="TenNhanVien" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sdt"></label>
        <input asp-for="Sdt" class="form-control" />
        <span asp-validation-for="Sdt" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="DiaChi"></label>
        <input asp-for="DiaChi" class="form-control" />
        <span asp-validation-for="DiaChi" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="MatKhau"></label>
        <input asp-for="MatKhau" class="form-control" />
        <span asp-validation-for="MatKhau" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="AnhNhanVien">Ảnh Nhân Viên</label>
        <input type="file" asp-for="AnhNhanVien" class="form-control" />
    </div>
    <div>
        <img src="@Model.AnhNhanVien" alt="Product Image" style="max-width:200px;" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-action="Index" asp-controller="Admin" class="btn btn-primary">Back</a>
    </div>
</form>