@model XTweb.Models.DichVu
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Update Dich Vu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h4>Update Dịch Vụ</h4>
<form asp-action="UpdateDichVu" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="MaDichVu" />
    <div class="form-group">
        <label asp-for="TenDichVu"></label>
        <input asp-for="TenDichVu" class="form-control" />
        <span asp-validation-for="TenDichVu" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gia"></label>
        <input asp-for="Gia" class="form-control" />
        <span asp-validation-for="Gia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AnhDichVu">Product Image</label>
        <input type="file" asp-for="AnhDichVu" class="form-control" />
    </div>
    <div>
        <img src="@Model.AnhDichVu" alt="Product Image" style="max-width:200px;" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-action="dichvu" asp-controller="Admin" class="btn btn-primary">Back</a>
    </div>
</form>
